In [1]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark.sql.window import Window
from pyspark.sql.functions import col, lit, current_timestamp, concat, desc, asc, rank, when, count, sum
from pyspark.sql.types import StructType, StructField, IntegerType, DoubleType, StringType
from config_file import transformed_path

In [2]:
spark = SparkSession.builder.appName('ETL').getOrCreate()
spark

### Read Transformed Dataframe

In [3]:
race_results_df = spark.read.parquet(f"{transformed_path}\Race_Results")
race_results_df.show()

+---------+--------------------+-------------------+----------------+--------------------+-------------+------------------+--------+----+-----------+-----------+------+--------+--------------------+
|race_Year|           race_Name|          race_Date|circuit_Location|         driver_Name|driver_Number|driver_Nationality|    team|grid|  race_Time|fastest_Lap|points|position|        created_Date|
+---------+--------------------+-------------------+----------------+--------------------+-------------+------------------+--------+----+-----------+-----------+------+--------+--------------------+
|     2005|Australian Grand ...|2005-03-06 14:00:00|       Melbourne|   Christijan Albers|            0|             Dutch| Minardi|  17|         \N|         11|   0.0|    null|2022-06-13 18:28:...|
|     2005|Australian Grand ...|2005-03-06 14:00:00|       Melbourne|       Nick Heidfeld|            0|            German|Williams|   7|         \N|         38|   0.0|    null|2022-06-13 18:28:...|
|     2005|Australian Grand ...|2005-03-06 14:00:00|       Melbourne|  Michael Schumacher|            0|            German| Ferrari|  19|         \N|         38|   0.0|    null|2022-06-13 18:28:...|
|     2005|Australian Grand ...|2005-03-06 14:00:00|       Melbourne|  Patrick Friesacher|            0|          Austrian| Minardi|  16|         \N|         22|   0.0|      17|2022-06-13 18:28:...|
|     2005|Australian Grand ...|2005-03-06 14:00:00|       Melbourne|      Tiago Monteiro|            0|        Portuguese|  Jordan|  14|         \N|         16|   0.0|      16|2022-06-13 18:28:...|
|     2005|Australian Grand ...|2005-03-06 14:00:00|       Melbourne|  Narain Karthikeyan|            0|            Indian|  Jordan|  12|         \N|         36|   0.0|      15|2022-06-13 18:28:...|
|     2005|Australian Grand ...|2005-03-06 14:00:00|       Melbourne|         Takuma Sato|            0|          Japanese|     BAR|  20|         \N|         36|   0.0|    null|2022-06-13 18:28:...|
|     2005|Australian Grand ...|2005-03-06 14:00:00|       Melbourne|  Jacques Villeneuve|            0|          Canadian|  Sauber|   4|         \N|         54|   0.0|      13|2022-06-13 18:28:...|
|     2005|Australian Grand ...|2005-03-06 14:00:00|       Melbourne|     Ralf Schumacher|            0|            German|  Toyota|  15|         \N|         56|   0.0|      12|2022-06-13 18:28:...|
|     2005|Australian Grand ...|2005-03-06 14:00:00|       Melbourne|       Jenson Button|           22|           British|     BAR|   8|         \N|         55|   0.0|    null|2022-06-13 18:28:...|
|     2005|Australian Grand ...|2005-03-06 14:00:00|       Melbourne|        Felipe Massa|           19|         Brazilian|  Sauber|  18|  +1:04.393|         55|   0.0|      10|2022-06-13 18:28:...|
|     2005|Australian Grand ...|2005-03-06 14:00:00|       Melbourne|        Jarno Trulli|            0|           Italian|  Toyota|   2|  +1:03.108|         56|   0.0|       9|2022-06-13 18:28:...|
|     2005|Australian Grand ...|2005-03-06 14:00:00|       Melbourne|      Kimi Räikkönen|            7|           Finnish| McLaren|  10|    +39.633|         55|   1.0|       8|2022-06-13 18:28:...|
|     2005|Australian Grand ...|2005-03-06 14:00:00|       Melbourne|     Christian Klien|            0|          Austrian|Red Bull|   6|    +38.997|         39|   2.0|       7|2022-06-13 18:28:...|
|     2005|Australian Grand ...|2005-03-06 14:00:00|       Melbourne|  Juan Pablo Montoya|            0|         Colombian| McLaren|   9|    +35.033|         41|   3.0|       6|2022-06-13 18:28:...|
|     2005|Australian Grand ...|2005-03-06 14:00:00|       Melbourne|         Mark Webber|            0|        Australian|Williams|   3|    +16.908|         37|   4.0|       5|2022-06-13 18:28:...|
|     2005|Australian Grand ...|2005-03-06 14:00:00|       Melbourne|     David Coulthard|            0|           British|Red Bull|   5|    +16.131|         40|   5.0|       4|2022-06-13 18:28:...|
|     2005|Australian Grand ...|2005-03-06 14:00:00|       Melbourne|     Fernando Alonso|           14|           Spanish| Renault|  13|     +6.712|         24|   6.0|       3|2022-06-13 18:28:...|
|     2005|Australian Grand ...|2005-03-06 14:00:00|       Melbourne|  Rubens Barrichello|            0|         Brazilian| Ferrari|  11|     +5.553|         54|   8.0|       2|2022-06-13 18:28:...|
|     2005|Australian Grand ...|2005-03-06 14:00:00|       Melbourne|Giancarlo Fisichella|            0|           Italian| Renault|   1|1:24:17.336|         55|  10.0|       1|2022-06-13 18:28:...|
+---------+--------------------+-------------------+----------------+--------------------+-------------+------------------+--------+----+-----------+-----------+------+--------+--------------------+
only showing top 20 rows

In [4]:
race_results_df = race_results_df.na.fill(value=0,subset=["points"])

## Constructor Standings

In [5]:
constructor_standing_df = race_results_df.groupBy('race_Year','team')\
.agg(sum('points').alias('total_points'),count(when(col('position')==1,True)).alias('wins'))

In [6]:
constructor_standing_df.filter("race_Year==2020").orderBy(col('total_points').desc()).show()

+---------+------------+------------+----+
|race_Year|        team|total_points|wins|
+---------+------------+------------+----+
|     2020|    Mercedes|       573.0|  13|
|     2020|    Red Bull|       319.0|   2|
|     2020|Racing Point|       210.0|   1|
|     2020|     McLaren|       202.0|   0|
|     2020|     Renault|       181.0|   0|
|     2020|     Ferrari|       131.0|   0|
|     2020|  AlphaTauri|       107.0|   1|
|     2020|  Alfa Romeo|         8.0|   0|
|     2020|Haas F1 Team|         3.0|   0|
|     2020|    Williams|         0.0|   0|
+---------+------------+------------+----+

In [8]:
window_cmd = Window.partitionBy('race_Year').orderBy(desc('total_points'),desc('wins'))
constructor_standing_df = constructor_standing_df.withColumn('rank',rank().over(window_cmd))

In [9]:
constructor_standing_df.show()

+---------+---------------+------------+----+----+
|race_Year|           team|total_points|wins|rank|
+---------+---------------+------------+----+----+
|     1959|  Cooper-Climax|        97.5|   5|   1|
|     1959|        Ferrari|        67.0|   2|   2|
|     1959|            BRM|        22.5|   1|   3|
|     1959|         Watson|        14.0|   1|   4|
|     1959|       Lesovsky|         5.0|   0|   5|
|     1959|     Team Lotus|         5.0|   0|   5|
|     1959|        Epperly|         5.0|   0|   5|
|     1959|         Sutton|         0.0|   0|   8|
|     1959|            Fry|         0.0|   0|   8|
|     1959|       Maserati|         0.0|   0|   8|
|     1959|          Elder|         0.0|   0|   8|
|     1959|   Kurtis Kraft|         0.0|   0|   8|
|     1959|        Tec-Mec|         0.0|   0|   8|
|     1959|        Porsche|         0.0|   0|   8|
|     1959|      Connaught|         0.0|   0|   8|
|     1959|Cooper-Borgward|         0.0|   0|   8|
|     1959|    Cooper-OSCA|         0.0|   0|   8|
|     1959|   Aston Martin|         0.0|   0|   8|
|     1959|Cooper-Maserati|         0.0|   0|   8|
|     1959|    Christensen|         0.0|   0|   8|
+---------+---------------+------------+----+----+
only showing top 20 rows

In [10]:
constructor_standing_df.write.mode('overwrite').parquet(f"{transformed_path}\Constructor_Standings")